name: Orch-Workflow

on:
  push:
    branches: ["main"]
    
jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     python-version: ["3.8", "3.9", "3.10"]
    
    steps:
    - uses: actions/checkout@v4

    - name: Clone tf-mod-repo
      uses: actions/checkout@v4
      with:
        repository: Test-Org-8646313/tf-mod-repo
        path: tf-mod
        # ref: 2.

    - name: List cloned files
      run: |
          cd tf-mod
          ls -al

    
    # - name: Set up Python ${{ matrix.python-version }}
    #   uses: actions/setup-python@v3
    #   with:
    #     python-version: ${{ matrix.python-version }}
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install pylint
    # - name: Analysing the code with pylint
    #   run: |
    #     pylint $(git ls-files '*.py')
